.progress-bar {
    background: #272727;
    .bg {
        fill: #272727;
    }
    rect {
        &.rest {
            fill: #464847;
        }
    }
    rect {
        &.progress {
            fill: #00a8fd;
        }
    }
}
