$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", SimHei, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$grid-gutter-width:         10px !default;

$font-size-base:          15px !default;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@font-face {
    font-family: 'ds-digitalbold';
    src: url('fonts/DS-DIGIB-webfont.eot');
    src: url('fonts/DS-DIGIB-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/DS-DIGIB-webfont.woff2') format('woff2'), url('fonts/DS-DIGIB-webfont.woff') format('woff'), url('fonts/DS-DIGIB-webfont.ttf') format('truetype'), url('fonts/DS-DIGIB-webfont.svg#ds-digitalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * 手机页面样式
 */
.header {
    background: url(../images/sp01.png) repeat-x left center;
    background-size: 100% 41px;
    height: 41px;
    position: relative;
    .logo {
        position: absolute;
        left: 10px;
        top: 6px;
    }
    h1 {
        font-family: '黑体';
        font-size: 18px;
        line-height: 40px;
        margin: 0;
        padding-left: 30%;
    }
}

#gauge {
    margin-top: 7px;
    .container-fluid {
    }
    @media (max-width: 360px) {
        .col-sys-status {
            width: 40% !important;
            padding-right: 0;
        }
        .col-wendu {
            width: 30% !important;
            padding-left: 0;
        }
        .col-warning {
            width: 30% !important;
        }
    }

    .sys-status {
        background-color: #dddedf;
        line-height: 36px;
        border-radius: 0 18px 18px 0;
        color: #414141;
        padding-left: 0.5em;
        margin-left: -5px;
        max-width: 105px;
        font-size: 15px;
        strong {
            display: block;
            float: right;
            border: 1px solid #32dca9;
            border-radius: 14px;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            padding: 2px;
            margin-right: 4px;
            margin-top: 4px; 
            font-weight: normal;
            i {
                font-style: normal;
                display: block;
                border-radius: 14px;
                line-height: 22px;
            }
            &.status-a {
                border-color: #32dca9;
                i {
                    background-color: #32dca9;
                }
            }
            &.status-b {
                border-color: #FF3a3a;
                i {
                    background-color: #FF3a3a;
                }
            }
        }
    }
    .wendu {
        color: #303439;
        margin: 0px;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        span {
            display: inline-block;
            border-bottom: 1px solid #303439;
        }
        strong {
            font-size: 26px;
            display: block;
        }
    }
    .warning {
        font-size: 15px;
        display: inline-block;
        color: #ff0000;
        line-height: 22px;
        border: 1px solid #ff0000;
        border-radius: 11px;
        padding: 0 10px;
    }
    .row-main-gauge {
        overflow-x:visable;
    }
    .main-gauge {
        background: url(../images/gaugebg.png) no-repeat center center;
        width: 250px;
        height: 250px;
        background-size: 100% 100%;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-top: 50px;
        margin-bottom: 65px;
        .gauge {
            position: relative;
            .title {
                border: 1px solid #1d1d1d;
                border-radius: 3px;
                position: absolute;
                width: 72px;
                text-align: center;
                line-height: 20px;
                left: 50%;
                margin-left: -36px;
            }
            &#adv-gauge {
                margin: 0 auto;
                display: inline-block;

            }
            &#simple-gauge-1 {
                position: absolute;
                top: -28px;
                left: -30px;
                .title {
                    top: -25px;
                }
            }
            &#simple-gauge-2 {
                position: absolute;
                top: -28px;
                right: -30px;
                .title {
                    top: -25px;
                }
            }
            &#simple-gauge-3 {
                position: absolute;
                bottom: -32px;
                left: -31px;
                .title {
                    bottom: -25px;
                }
            }
            &#simple-gauge-4 {
                position: absolute;
                bottom: -32px;
                right: -31px; 
                .title {
                    bottom: -25px;
                }
            }
        }
    }
    .summary {
        .col-xs-4 {
            padding: 5px 0;
            background-color: #d1d3d5;
            text-align: center;
            strong {
                font-size: 24px;
                color: #2b9bce;
                display: block;
            }
            &.col-center {
                border-left: 1px solid #ffffff;
                border-right: 1px solid #ffffff;
            }
        }
    }
    .chart-progress {
        margin-top: 5px;
        padding: 5px 0;
        .label {
            font-size: 17px;
            color: #535353;
            text-align: right;
            font-weight: normal;
        }
        .data {
            .col-xs-4 {
                font-size: 12px;
                padding: 0;
                color: #71747a;
                &.used {
                    color: #258cc7;
                }
                &.plan {
                    color: #23ae84;
                }
            }
        }
    }
}


//svg图表相关样式
svg {
    &.progress-bar-svg {
        background: #272727;
        rect {
            &.bg {
                fill: #464847;
            }
        }
        rect {
            &.progress {
                fill: #464847;
            }
        }
    }
    &.progress-knob {
        .slices {
            path {
                &.slice {
                    fill: #272727;
                    stroke-width: 1;
                    stroke: #4a4b4b;
                }
                &.progressSlice {
                    stroke-width: 1;
                    opacity: 0.6;
                }
            }
        }
    }
}

.progress-knoba-1 {
    .progress-knob {
        .slices {
            path {
                &.progressSlice {
                    fill: #30dca8;
                    stroke: #30dca8;
                }
            }
        }
    }
}

.progress-knoba-2 {
    .progress-knob {
        .slices {
            path {
                &.progressSlice {
                    fill: #00a8ff;
                    stroke: #00a8ff;
                }
            }
        }
    }
}

.simple-gauge {
    .ticks {
        circle {
            fill: transparent;
            stroke: #30b9fa;
            stroke-width: 1;
        }
        line {
            &.tick-major {
                stroke: #30b9fa;
                stroke-width: 1;
            }
        }
        text {
            &.label-tick-major {
                fill: #6d7378;
                stroke-width: 0;
                font-size: 14px;
                font-family: Arial;
                font-weight: bold;
            }
        }
    }
    .labels {
        .label-unit {
            font-family: Arial;
            fill: #060606;
            font-size: 16px;
        }
        .value {
            rect {
                fill: #2f3131;
            }
            text {
                font-family: 'ds-digitalbold';
                fill: #35bbfa;
                font-size: 24px;
            }
        }
    }
    .point {
        circle {
            stroke-width: 0;
            &.c1 {
                fill: #1b1b20;
            }
            &.c2 {
                fill: #b1b1b1;
            }
            &.c3 {
                fill: #e1e1e1;
            }
        }
    }
}

.adv-gauge {
    .bg {
        circle {
            &.c1 {
                fill: transparent;
                stroke-width: 2;
                stroke: #d0d0d0;
            }
        }
    }
    .ticks {
        line {
            &.tick-major {
                stroke: #2ea2d2;
            }
            &.tick-minor {
                stroke-width: 1;
                stroke: #2ea2d2;
            }
        }
        text {
            &.label-tick-major {
                font-family: Arial;
                font-weight: bold;
                fill: #656565;
            }
        }
    }
    .labels {
        text {
            &.label-unit {
                font-family: Arial;
                font-weight: bold;
                fill: #656565;
            }
            &.label-title {
                font-family: Arial;
                font-weight: bold;
                fill: #656565;
            }
        }
        .value {
            rect {
                fill: #2e2f30;
            }
            text {
                font-family: 'ds-digitalbold';
                fill: #f7f7f7;
                font-size: 24px;
            }
        }
    }
    .point {
        circle {
            fill: #313137;
        }
        path {
            &.needle {
                fill: #313137;
                stroke-width: 1;
                stroke: transparent;
            }
        }
    }
    .progress {
        path {
            fill: #36b6db;
            stroke-width: 1;
            stroke: #36b6db;
            opacity: 0.75;
        }
    }
}

.lollipop-pie {
    .pies {
        .pieContainer {
            .pie {
                stroke-width: 1;
                stroke: #4f5252;
            }
        }
    }
}

.progress-btn {
    circle.bg {
        fill: #30dca8;
        stroke-width: 0;
        opacity: 0.36;
    }
    .btn-container {
        cursor: pointer;
    }
    .progress {
        fill: #30dca8;
    }
}
