.progress-bar {
    background: #272727;
    rect {
        &.bg {
            fill: #464847;
        }
    }
    rect {
        &.progress {
            fill: #464847;
        }
    }
}

.progress-knob {
    .slices {
        path {
            &.slice {
                fill: #272727;
                stroke-width: 1;
                stroke: #4a4b4b;
            }
            &.progressSlice {
                stroke-width: 1;
                opacity: 0.6;
            }
        }
    }
}

.progress-knoba-1 {
    .progress-knob {
        .slices {
            path {
                &.progressSlice {
                    fill: #30dca8;
                    stroke: #30dca8;
                }
            }
        }
    }
}

.progress-knoba-2 {
    .progress-knob {
        .slices {
            path {
                &.progressSlice {
                    fill: #00a8ff;
                    stroke: #00a8ff;
                }
            }
        }
    }
}

div {
    display: inline-block;
}
